.edulink{
    text-decoration: none;
    color: #0027d2; 
    font-weight: bold;
    transition: color 0.2s ease;
    cursor: pointer;
    font-size: 1.2rem;
}
  
.edulink:hover {
    color: red;
}

.weblinkp{
    color: #494949;
    font-size: 1.2em;
}

.footer{
    text-align: center;
    font-size: 0.9m;
    margin-top: 50px;
    color: rgb(155, 154, 154);
    margin-bottom: 110px;
}

#my-tooltip{
    background-color: blue;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: 1px solid white;
}




