.clicklink{
    text-align: center;
    letter-spacing: 0.6px;
    margin-top: 30px;
}

.edulink{
    text-decoration: none;
    color: #0027d2; 
    font-weight: bold;
    transition: color 0.2s ease;
    cursor: pointer;
    font-size: 1.2rem;
}
  
.edulink:hover {
    color: red;
}
  
.educationdots{
    text-align: center;
    font-weight: bold;
}

#my-tooltip{
    background-color: blue;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    border: 1px solid white;
}
  